body {
  background: #3d5a80;
  background-attachment: fixed;
  color: #ffffff;
  font-family: "Brandon Grotesque", Montserrat, sans-serif;
}

main {
  display: flex;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 900;
}

h2 {
  font-family: "Open Sans", "Brandon Grotesque", sans-serif;
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 80px;
}

.player-right__wins,
.player-left__wins {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 900;
}

.player-left,
.player-right {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  width: 420px;
  height: 420px;
  border: 4px solid #98c1d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board > * {
  display: flex;
}

.game-board__square {
  width: 140px;
  height: 140px;
  border: 1px solid #98c1d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-blue {
  background-color: #e0fbfc;
}

.mid-blue {
  background-color: #98c1d9;
}

.coral {
  background-color: #ee6c4d;
  border-color: #ffffff;
}
