body {
  background: linear-gradient(#99F7E9, #67E5F3, #609CEB);
  background-attachment: fixed;
  color: #ffffff;
}

main {
  display: flex;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 80px;
}

p {
  font-size: 20px;
}

.player-left,
.player-right {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  width: 400px;
  height: 400px;
  border: 2px solid #ffffff;
}

.game-board > * {
  display: flex;
  justify-content: center;
}

.game-board__square {
  width: 100px;
  height: 100px;
  border: 2px solid #ffffff;
  margin: 5px;
}
