body {
  background: #3d5a80;
  background-attachment: fixed;
  color: #ffffff;
  font-family: "Brandon Grotesque", Montserrat, sans-serif;
}

main {
  display: flex;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 900;
}

h2 {
  font-family: "Open Sans", "Brandon Grotesque", sans-serif;
  font-size: 28px;
  font-weight: 600;
}

label {
  font-size: 20px;
}

button {
  border: 0;
  font-family: "Brandon Grotesque", Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #ffffff;
  background-color: #ee6c4d;
  width: 142px;
  height: 36px;
  text-transform: uppercase;
}

/* || Game Board Styles */

.game {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  width: 420px;
  height: 420px;
  background-color: #98c1d9;
  outline: 6px solid #98c1d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-three {
  width: 420px;
  height: 420px;
}

.grid-4 {
  width: 560px;
  height: 560px;
}

.grid-5 {
  width: 600px;
  height: 600px;
}

.game-board-row {
  display: flex;
}

.game-board-square {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.light-blue {
  background-color: #e0fbfc;
}

.mid-blue {
  background-color: #98c1d9;
}

.coral {
  background-color: #ee6c4d;
  outline: 6px solid #ffffff;
}

.token {
  max-width: 100px;
  max-height: 100px;
}

.game-board-square--filled {
  animation: flash 0.5s ease;
}

.selection-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  background-color: #98c1d9;
  border: ;
  width: 500px;
  height: 250px;
  border: 3px solid #e0fbfc;
}

.grid-selection-heading {
  margin: 0;
}

.hidden {
  display: none;
}

@keyframes flash {
  50% {
    transform: scale(0.9);
    opacity: 50%;
  }
  100 % {
    transform: scale(1.0);
    opacity: 100%;
  }
}

/* || Player Sidebar Styles */

.player-sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-icon {
  margin-top: 250px;
  margin-bottom: 20px;
  max-width: 200px;
  max-height: 200px;
}

.player-wins {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 900;
}

/* || Media Queries */

@media (max-width: 1024px) {
  .player-icon {
    margin-top: 300px;
    max-width: 150px;
    max-height: 150px;
  }
}

@media (max-width: 820px) {
  main {
    flex-direction: column;
  }

  h1 {
    margin: 20px 0px;
  }

  h2 {
    font-size: 32px;
    margin: 20px 0px;
  }

  .game {
    width: 100%;
    margin-bottom: 40px;
  }

  .player-sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .player-icon {
    margin-top: 20px;
    max-width: 125px;
    max-height: 125px;
  }

  .player-left {
    order: 2;
  }

  .player-right {
    order: 3;
  }
}
