body {
  background: #3d5a80;
  background-attachment: fixed;
  color: #ffffff;
  font-family: "Brandon Grotesque", Montserrat, sans-serif;
}

main {
  display: flex;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 900;
}

h2 {
  font-family: "Open Sans", "Brandon Grotesque", sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.player-icon {
  margin-top: 250px;
  margin-bottom: 20px;
  max-width: 200px;
  max-height: 200px;
}

.player-right__wins,
.player-left__wins {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 900;
}

.player-left,
.player-right {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  width: 420px;
  height: 420px;
  background-color: #98c1d9;
  outline: 6px solid #98c1d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board > * {
  display: flex;
}

.game-board__square {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  font-size: 60px;
}

.light-blue {
  background-color: #e0fbfc;
}

.mid-blue {
  background-color: #98c1d9;
}

.coral {
  background-color: #ee6c4d;
  outline: 6px solid #ffffff;
}

.token {
  max-width: 100px;
  max-height: 100px;
}
